.btn-back:hover {
    transform: scale(1.2);
}

.bg-#F4F4F4 {
    background-color: red;
}

.content-chat {
    max-width: 300px;
    word-wrap: break-word;
}

.chat-box-content {
    height: 845px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-box-content::-webkit-scrollbar {
    display: none;
}
.chat-box-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.btn-send {
    color: blue;
}

.btn-send:hover {
    transform: scale(1.1);
}
