.menu
{
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.list-item{
    display: inline-block;
}

.item{
    list-style: none;
    margin: 0px 20px 10px;
}

img{
    margin-top: 10px;
}

a{
    font-size: 32px;
}
