.container-card {
    position: relative;
    width: 100%;
}

.div-online-1 {
    position: absolute;
    top: 8%;
    left: 5%;

}

.card-skill {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 5%;
}

.card-skill img {
    width: 100%;
    transition: 0.1s all ease-in-out;
    border-radius: 5%;
}

.card-skill:hover .avatar{
    transform: scale(1.08);
}

.card-skill:hover
{
    box-shadow: 0 0 7px rgba(33,33,33,.3); 
}

.sound-icon {
    position: absolute;
    bottom: -7%;
    right: 2%;
}

.category-title:hover {
    cursor: pointer;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.slick-list>div {
    margin-left: 0;
}
.card-skill-main
{
    margin-left: 13px;
    margin-right: 13px;
}